/public/storage
/storage/*.key
/vendor
/.vagrant
/.idea
/.vscode
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
Vagrantfile
yarn-error.log
